<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow">
	<ul class="fs-5">
		<li>At Food Aid, we are dedicated to helping people in need by providing food across the country.</li>
		<li>Our main goal is to fight hunger and ensure that no one has to go without a meal. We work by collecting food donations from kind-hearted people and distributing them to those who are struggling to feed themselves and their families. We believe in creating a community where everyone has access to the food they need to live a healthy life.</li>
	</ul>
</div>