<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow">
		<h4>Food Aid, our mission is to ensure that no one in need goes to bed hungry. We are dedicated to feeding every individual who is struggling to get enough food, regardless of their background or circumstances. We believe that everyone deserves access to nutritious meals, and we are committed to making that a reality for those who are less fortunate.

			Our goal is not only to provide immediate relief to those facing hunger, but also to create a sustainable support system that addresses food insecurity in the long term. By connecting generous donors with those in need, we strive to build a compassionate community where no one feels alone in their struggle to put food on the table.
			
			We envision a world where hunger is no longer a daily concern for anyone, and where people can live with dignity and hope, knowing that they will never have to worry about going to bed hungry again.</h4>
</div>